body {
  margin: 0;
}

.gifs{
  margin-top: 45px;
}

img{
  margin: 10px 10px;
  width: 320px;
  height: 320px;
}

input, button{
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 5px;
}

header {
  border: solid black 5px;
  border-left: unset;
  border-right: unset;
  margin: 5px 0px;
}
